/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0;
	background: #f7f7f7 url('../images/bg_body.png');
	font-family: "proxima-nova", 'helvetica neue', arial, helvetica, sans-serif;
	line-height: 1.5;
	color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* MEDIA BLOCKS */
/* .media is used to create a block of content like text that doesn't wrap around it's left-floated sibling typically an image, similar to what you'd see in facebooks stream with profile photo on left and textual content to the right of it. Markup pattern is as follows:
	.media
		.img
			img
		.bd
			anything
*/
.media .bd {
	overflow:hidden; 
	_overflow: visible;
	*zoom:1;
}
.media .img {
	float:left; 
	margin-right: 10px;
}
.media .img-right {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.media .img img{
	display:block;
}


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}