.G {
	width: 987px;
	margin: 0 auto;
}
.GR:before,
.GR:after {
    content:"";
    display:table;
}

.GR:after {
    clear:both;
}
.GR {
    zoom:1;
}
.G1,
.G2,
.G3,
.G4,
.G5,
.G6,
.G7,
.G8,
.G9,
.G10,
.G11,
.G12,
.G13,
.G14,
.G15,
.G16,
.G17,
.G18,
.G19,
.G20,
.G21,
.G22,
.G23,
.G24 { 
	float: left; 
	_display: inline; 
	margin-left: 21px;
}
.GF { 
	margin-left: 0;
}
.G1, .size-G1 { width: 21px; }
.G2, .size-G2 { width: 63px; }
.G3, .size-G3 { width: 105px; }
.G4, .size-G4 { width: 147px; }
.G5, .size-G5 { width: 189px; }
.G6, .size-G6 { width: 231px; }
.G7, .size-G7 { width: 273px; }
.G8, .size-G8 { width: 315px; }
.G9, .size-G9 { width: 357px; }
.G10, .size-G10 { width: 399px; }
.G11, .size-G11 { width: 441px; }
.G12, .size-G12 { width: 483px; }
.G13, .size-G13 { width: 525px; }
.G14, .size-G14 { width: 567px; }
.G15, .size-G15 { width: 609px; }
.G16, .size-G16 { width: 651px; }
.G17, .size-G17 { width: 693px; }
.G18, .size-G18 { width: 735px; }
.G19, .size-G19 { width: 777px; }
.G20, .size-G20 { width: 819px; }
.G21, .size-G21 { width: 861px; }
.G22, .size-G22 { width: 903px; }
.G23, .size-G23 { width: 945px; }
.G24, .size-G24 { width: 987px; }

.P-G1 { padding-left: 42px; }
.P-G2 { padding-left: 84px; }
.P-G3 { padding-left: 126px; }
.P-G4 { padding-left: 168px; }
.P-G5 { padding-left: 210px; }
.P-G6 { padding-left: 252px; }
.P-G7 { padding-left: 294px; }
.P-G8 { padding-left: 336px; }
.P-G9 { padding-left: 378px; }
.P-G10 { padding-left: 420px; }
.P-G11 { padding-left: 462px; }
.P-G12 { padding-left: 504px; }
.P-G13 { padding-left: 546px; }
.P-G14 { padding-left: 588px; }
.P-G15 { padding-left: 630px; }
.P-G16 { padding-left: 672px; }
.P-G17 { padding-left: 714px; }
.P-G18 { padding-left: 756px; }
.P-G19 { padding-left: 798px; }
.P-G20 { padding-left: 840px; }
.P-G21 { padding-left: 882px; }
.P-G22 { padding-left: 924px; }
.P-G23 { padding-left: 966px; }
.P-G24 { padding-left: 1008px; }

.A-G1 { padding-right: 42px; }
.A-G2 { padding-right: 84px; }
.A-G3 { padding-right: 126px; }
.A-G4 { padding-right: 168px; }
.A-G5 { padding-right: 210px; }
.A-G6 { padding-right: 252px; }
.A-G7 { padding-right: 294px; }
.A-G8 { padding-right: 336px; }
.A-G9 { padding-right: 378px; }
.A-G10 { padding-right: 420px; }
.A-G11 { padding-right: 462px; }
.A-G12 { padding-right: 504px; }
.A-G13 { padding-right: 546px; }
.A-G14 { padding-right: 588px; }
.A-G15 { padding-right: 630px; }
.A-G16 { padding-right: 672px; }
.A-G17 { padding-right: 714px; }
.A-G18 { padding-right: 756px; }
.A-G19 { padding-right: 798px; }
.A-G20 { padding-right: 840px; }
.A-G21 { padding-right: 882px; }
.A-G22 { padding-right: 924px; }
.A-G23 { padding-right: 966px; }
.A-G24 { padding-right: 1008px; }